<template>
  <div class="component-wrapper" :class="componentClass">
    {{#if slots}}
    {{#each slots}}
    <slot name="{{name}}" />
    {{/each}}
    {{else}}
    <slot />
    {{/if}}
  </div>
</template>

<script setup{{#if typescript}} lang="ts"{{/if}}>
{{#if props}}
interface Props {
  {{#each props}}
  {{name}}{{#if required}}?{{/if}}: {{type}}
  {{/each}}
}

const props = withDefaults(defineProps<Props>(), {
  {{#each props}}
  {{#if default}}
  {{name}}: {{default}},
  {{/if}}
  {{/each}}
})
{{/if}}

{{#if events}}
const emit = defineEmits<{
  {{#each events}}
  {{name}}: []
  {{/each}}
}>()
{{/if}}

// Component logic here
const componentClass = computed(() => [
  'component-{{componentNameKebab}}',
  // Add any conditional classes based on props
])
</script>

{{#if includeStyles}}
<style{{#if typescript}} lang="scss"{{/if}} scoped>
.component-{{componentNameKebab}} {
  /* Component styles */
}
</style>
{{/if}}