<script{{#if typescript}} lang="ts"{{/if}}>
  {{#if props}}
  export let {{#each props}}{{name}}{{#if default}} = {{{default}}}{{/if}}{{#unless @last}}, {{/unless}}{{/each}}
  {{/if}}
</script>

<div class="component-{{componentNameKebab}}" use:ref>
  {{#if slots}}
  {{#each slots}}
  <slot name="{{name}}" />
  {{/each}}
  {{else}}
  <slot />
  {{/if}}
</div>

{{#if includeStyles}}
<style>
  .component-{{componentNameKebab}} {
    /* Component styles */
  }
</style>
{{/if}}